@{
    ViewData["Title"] = "Get in touch with us bellow:";
}
<h1>@ViewData["Title"]</h1>

<p>Reminders Inc.</p>
<p>Contact Number: 000 111 2222</p>
<p>Live Chat: Click Here</p>
<p>support@remindersinc.com</p>
<p>1 Rodeo Drive</p>

