@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    
    

    <img src="/images/RemindersInc_Grey_Latest_V1.jpeg" />
    <p>Welcome to Reminders Inc, where everything is recorded!</p>
</div>
